<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap" rel="stylesheet">
    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    {% block content %} {% endblock %}
  </body>
  <footer>
    {% block foot %} {% endblock %}
  </footer>
</html>